.pointer{
    cursor: pointer;
}
.btn {
    border-radius: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;text-decoration: none;
    padding: 12px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.btn:hover{
    box-shadow: 0 0 8px #cecece;
}

.btn-danger{
    background-color: #dc0000;
    color: #fff;
}
.btn-primary{
    background-color: #00caff;
    color: #fff;
}
.club_active{
    margin-right: 18px;
    background: #d85d5d;color: #fff;
}
.club_comment{
    margin-right: 18px;
    background: #4475e2
}

.club_comments .comment {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6,auto);
    column-gap: 35px;
    padding: 24px;
    background: #ffe3b7;
    box-shadow: 0 0 8px rgb(0 0 0 / 25%);
    border-radius: 14px;
    margin-bottom: 20px;
}

.club_comments .comment-header{
    text-align: right;
}


/* section.personal_page_wrapper .personal_page .personal_main_content_wrapper .club_list_content_tabs .tab .club_list_content.moderation .club_list_item .club_card{
    pointer-events: auto!important;
} */
.club_card .search_club_info .club_price_wrapper .club_edit{
    background: unset;
}

.autocomplete-suggestions{
    z-index: 11000!important;
    border: 0;
    box-shadow: 0 0 27px rgb(0 2 4 / 9%);
    background-color: #fff;
    padding: 15px 10px;
    margin-top: 0;
    border-radius: 12px;
}

.autocomplete-suggestions .autocomplete-suggestion{
    padding: 5px;
    cursor: pointer;
}
.autocomplete-suggestions .autocomplete-suggestion:hover{
color: #dc0000;
background-color: #fff;}