@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-mediumitalic.ttf');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.woff');
    font-weight: 700;
    font-style: normal;
}